:root {
  --theme0: #19201f;
  --theme1: #333b3a;
  --theme2: #454b57;
  --theme3: #676f7e;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Commissioner", sans-serif;
  height: 100%;
  background-color: var(--theme0);
}

img {
  display: block;
}
