:root {
  --theme0: #0b0f16;
  --theme1: #161f2e;
  --theme2: #1f2d46;
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Commissioner", sans-serif;
  height: 100%;
  background-color: var(--theme0);
}

img {
  display: block;
}
